
@media(max-width: 576px) {
  .profile-image {
    margin-left: 0;
  }
  .xs-show {
    display: block !important;
  }

  .xs-hide {
    display: none !important;
  }

  .text-xs-center {
    text-align: center !important;
  }
  .order-xs-1 {
    order: 1;
  }

  .order-xs-2 {
    order: 2;
  }

  .mat-grid-list{
    height: auto !important;
  }
  .mat-grid-tile{
    width: 100% !important;
    left: 0 !important;
    position: relative !important;
  }
}

@media screen and (max-width: 768px) {

  .card-container > *:not(.circle-link) ,
  .card:not(.highlight-card) {
    margin: 8px 0;
  }

  .logo-xs-w{
    width: 15% !important;
  }
  .text-xs-center {
    text-align: center !important;
  }
  .modal-svg{
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .sm-hide{
    display: none !important;
  }
}


@media (min-width: 1200px){
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1240px !important;
  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
  .container {
    max-width: 1240px;
  }
}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {
  .container {
    max-width: 1240px;
  }
}

@media screen and (min-device-width: 1600px) {
  .container{
    max-width: 1640px !important;
  }
}


