
.dash-box{
  color: #697079;
  border: 1px solid rgb(189, 224, 193);
  margin: 0;
  place-self: stretch;
  box-shadow: rgba(116, 129, 141, 0.2) 0 3px 8px 0;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 25px 20px;
  cursor: text;
  font-weight: 500;
  font-size: 0.9rem;
  transition: border 250ms ease 0s;
  position: relative;

  &:hover{
    border-color: #ffbe46;
    background: #fff4d5;
    transform: scale(1.02);
    transition: all 0.25s ease-in;
  }
  .count{
    margin-left: auto;
    font-size: 2rem;
    color: #714c07;
  }
  .dash-icon{
    position: absolute;
    top: -15px;
    right: 15px;
    color: #dfdad5;
    background: #46815fd9;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.graph-box{
  border: 1px solid #ddd;
  margin-top: 25px;
  padding: 20px;
  background: ghostwhite;
}

.dash-box{
  color: #697079;
  border: 1px solid rgb(189, 224, 193);
  margin: 0;
  //display: flex;
  place-self: stretch;
  box-shadow: rgba(116, 129, 141, 0.2) 0 3px 8px 0;
  align-items: center;
  border-radius: 3px;
  //flex-direction: row;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 25px 20px;
  cursor: text;
  font-weight: 500;
  font-size: 0.9rem;
  transition: border 250ms ease 0s;
  position: relative;

  &.bg-warning{
    border-color: #ffbe46 !important;
    background: #fff4d5 !important;
  }

  &:hover{
    border-color: #ffbe46;
    background: #fff4d5;
    transform: scale(1.02);
    transition: all 0.25s ease-in;
  }
  .count{
    margin-left: auto;
    font-size: 2rem;
    color: #714c07;
  }
}

