.login__wrapper {
  mat-card {
    padding: 2.75rem 3%;
    width: 500px;
  
    mat-form-field {
      width: 98%;
      margin: 1%;
    }

    mat-card-footer {
      padding: 0 2%;
      
      .login__btn {
        letter-spacing: 1.5px;
        text-transform: uppercase;
      }
    }
  }

  .mat__icon {
    cursor: pointer;
  }
}