/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Themes - set of colors that will be applied to the Angular Material compponents.
// In Angular material, a  theme is created by composing multiple palletes. 
// Each theme includes three palettes that determine component colors. In particular a theme consists of:

// - A primary palette for the color that appears most frequently throughout your application
// - An accent, or secondary, palette used to selectively highlight key parts of your UI
// - A warn, or error, palette used for warnings and error states

@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Quicksand, Roboto, "Helvetica Neue", sans-serif; }

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$custom-light-palette: (
  50 : #e1e9e7,
  100 : #b3c9c3,
  200 : #80a59b,
  300 : #4d8073,
  400 : #276555,
  500 : #014a37,
  600 : #014331,
  700 : #013a2a,
  800 : #013223,
  900 : #002216,
  A100 : #5effb2,
  A200 : #2bff9a,
  A400 : #00f782,
  A700 : #00de74,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// Typography configuration
$custom-typography: mat.define-typography-config(
  $font-family: "Quicksand, Roboto",
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 500, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 500, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 500),
  $headline-5: mat.define-typography-level(24px, 32px, 500),
  $headline-6: mat.define-typography-level(16px, 32px, 500),
  $subtitle-1: mat.define-typography-level(16px, 28px, 500),
  $body-1: mat.define-typography-level(14px, 20px, 500),
  $body-2: mat.define-typography-level(14px, 20px, 500),
  $subtitle-2: mat.define-typography-level(14px, 28px, 500),
  $caption: mat.define-typography-level(12px, 20px, 500),
  $button: mat.define-typography-level(14px, 14px, 500),
);

$custom-primary: mat.define-palette($custom-light-palette, 500);
$custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$custom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

// A Light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn,
  ),
  typography: $custom-typography, // typography: mat.define-typography-config(),
  density: 0,
));

// A dark theme
$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-grey-palette),
    warn: mat.define-palette(mat.$red-palette),
  ),
  typography: $custom-typography,
  density: 0,
));


body[data-theme='dark'] {
  @include mat.all-component-colors($dark-theme);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($light-theme);

// Additional styles
@import "./assets/styles/color";
// @import "assets/styles/bootstrap";
@import "./assets/styles/animation";
@import "assets/styles/custom-mdc";
@import "assets/styles/style";
@import "assets/styles/graph";
@import "assets/styles/media-queries/phone-media";
@import "assets/styles/media-queries/general-media";

@import "./assets/styles/boiler";
@import "./assets/styles/accents";
