<header class="header">
  <img class="logo" src="/angular-logo-sm.png" alt="Angular logo">
  <nav class="nav">
    <div class="dropdown" data-dropdown clickOutside (clickOutside)="clickedOutside(0)">
      <a class="dropdown__link" data-dropdown-toggle (click)="toggleMenu(0)">Forms</a>
      @if (dropdownStates[0]) {
        <div class="dropdown__menu">
          <a class="dropdown__item" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">template-driven forms</a>
          <a class="dropdown__item" routerLinkActive="active" routerLink="reactive-form" >reactive forms</a>
          <a class="dropdown__item" routerLinkActive="active" routerLink="reusable-form" >reusable forms</a>
        </div>
      }
    </div>
    <a class="navlink" routerLinkActive="active" routerLink="content-projection">content projection</a>
    
    <div class="dropdown" data-dropdown clickOutside (clickOutside)="clickedOutside(1)">
      <a class="dropdown__link" data-dropdown-toggle (click)="toggleMenu(1)">others</a>
      @if (dropdownStates[1]) {
        <div class="dropdown__menu">
          <a class="dropdown__item" routerLinkActive="active" routerLink="two-way-db">2 way data binding</a>
          <a class="dropdown__item" routerLinkActive="active" routerLink="2-way">ng template-outlet</a>
        </div>
      }
    </div>
    <!-- 
      In standalone mode the ngModel does'nt register itself to the parent form, it won't be part of the form control group.
      ngModel outside the form is automatically set to standalone, we don't need to provide it explicitly.
      Standalone control can be useful if you want a control just for the proper working of the form but you are not interested in its value,
      or when you just need a single control like global search we just created below.  
    -->
  </nav>

  <input [(ngModel)]="searchString" type="search" name="search" placeholder="Global Search" class="search">
</header>
