.auth__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  font-family: Montserrat, Quicksand, Roboto, sans-serif;
  font-size: .85rem;

  background: linear-gradient(to right, var(--primary-color-faded), rgba(255, 255, 255, 0.5)), url('/assets/images/particle-bg.png');
  animation: gradient 120s ease infinite;
  // background-size: cover;
  background-repeat: no-repeat;
}

@keyframes BackgroundAnimation {
  0%{background-position:0 97%}
  50%{background-position:100% 4%}
  100%{background-position:0 97%}
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}